<%= turbo_frame_tag :show_comment do %>
<p style="color: green"><%= notice %></p>

<% @comments.each do |data| %>
  <div>
     <strong>Name: <%= data.name %></strong>
     <p><%= data.comment %></p>

     <div>
      <%= link_to "Edit this comment", edit_comment_path(data) %>
      <br>
      <br>
      <%= button_to "Destroy this comment", data, method: :delete %>
    </div>
  </div>
  <hr>
<% end %>


<% end %>
